*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mwidth{
    max-width: 70%;
    margin: auto;
}

header{
    color: white;
    background-color: #fe6900
}

.htop-bar{
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

header span, header i {
    padding: 0px 5px;
}

.categorie, .icon {
    width: 20%;
}

.container-logo{
    width: 60%;
    display: flex;
    justify-content: center;
}

#logo{
    height: 40px;
}

.icon{
    text-align: right;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

.prodotto img {
    width: 100%;
}

.colonna {
    width: calc(100% / 3 );
    padding: 20px;
}






